.sectionContainer{
    display: flex;
    flex-direction: column;
    border: 1px solid #222;
    /* min-height: 100%; */
    overflow-y: scroll;
    background-color: #111;
    width: 200px;
    height: 200px;
}
.sectionContainer > .title{
    background-color: #191919;
    padding: 8px;
}
.sectionContainer > .container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionContainer .expandIcon{
    display: none;
    cursor: pointer;
    margin-left: auto;
    transition: 300ms;
    width: 16px;
    height: 16px;
}
.sectionContainer .expandIcon:hover{
    background-color: #eee;
    border-radius: 4px;
    color: #111;
}
.sectionContainer .dragHandle{
    display: flex;
    align-items: center;
    margin-right: 10px;
}