*{
  box-sizing: border-box;
  position: relative;
}
body, html{
  background-color: #222;
  color: #eee;
  width: 100%;
  height: 100%;
}
.App{
  display: flex;
  flex-direction: row;
}
header.header{
  position: fixed;
  width: 100vw;
  z-index: 999;
  background-color: #090909;
  height: 64px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.header-logo{
  width: 32px;
  height: auto;
  margin-right: 12px;
  border-radius: 32%;
}
.header-widgets{
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.header-widgets > .divider{
  padding: 12px;
}
.widget-btn{
  min-width: 36px;
  height: 36px;
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  margin-right: 16px;
  padding: 12px;
  font-size: 14px;
  transition: 300ms;
}
.widget-btn.clickable{
  cursor: pointer;
}
.widget-btn.clickable:hover{
  background-color: #6aa;
  color: #222;
}
.widget-btn:last-of-type{
  margin-right: 0px;
}
.animation-streaming{
  animation: STREAMING 1s infinite;
  color: #eee !important;
}
@keyframes STREAMING{
  0%{
    background-color: #f66;
  }
  50%{
    background-color: #f11;
  }
  100%{
    background-color: #f66;
  }
}
#main{
  width: 70vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
}
.viewContainer.isFocus{
  border: 3px solid #f00;
  overflow: hidden;
}
.primary-view{
  width: 100%;
  height: 70%;
}
.secondary-view-container{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
}
.sidebar{
  position: fixed;
  width: 30vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  right: 0px;
  overflow: auto;
  max-height: 100vh;
}
.primary-view .sectionContainer{
  width: 100%;
  height: 100%;
}
.secondary-view-container .sectionContainer{
  width: 33.33%;
  height: 98%;
}
.sidebar .sectionContainer{
  width: 100%;
  height: auto;
  overflow: hidden;
}
.sidebar .sectionContainer > .container{
  padding: 0px;
  height: 0px;
  overflow: hidden;
}
.sidebar .sectionContainer > .container.isOpen{
  height: 50vh;
  overflow: scroll;
}
.sidebar .sectionContainer .expandIcon{
  display: inline;
}
.sectionContainer.onDrag{
  width: 30vw !important;
  height: 8vh !important;
  overflow: visible;
}
.sectionContainer > .title{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.sectionContainer .notAllowDropIcon{
  display: none;
}
.sectionContainer.notAllowed{
  opacity: 0.4;
}
.sectionContainer.notAllowed .notAllowDropIcon{
  display: flex;
  width: 100%;
  height: 96px;
  position: absolute;
  font-size: 96px;
  text-align: center;
  justify-content: center;
  align-items: center;
  top: -20%;
}


@media only screen and (max-width: 800px) {
  header.header, .header-widgets{
    justify-content: space-evenly;
    margin: 0px;
  }
  .header-logo, .header > h2{
    visibility: hidden;
    display: none;
  }
  #main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 64px;
  }
  .primary-view {
    width: 100%;
    height: 50%;
    flex: none;
  }
  .secondary-view-container{
    visibility: hidden;
  }
  .sidebar{
    position: relative;
    width: 100%;
    overflow: visible;
  }
}